header  {
     height: 150px;
    border-style: solid;
    font-weight: 1000;
    border-width: 2px;
    font-size: 250%;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    font-family: 'Cinzel', serif;
    background-image: url("../assets/images/pinorama.jpg");
    background-size: 100%;
    text-decoration-line: underline;
    text-shadow: 3px 3px white;
    font-style: oblique;
    color: navy;
    padding-bottom: 3%;
    text-emphasis-color: tan;
    font-weight: 1000;
    

}
.remaining     {
    background-color: bisque;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-shadow: 2px 2px black;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: navy;
    font-family: 'Cinzel', serif;
    text-size-adjust: 50%;


}

.underscores     {
    background-color: bisque;
    font-weight: bolder;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 70px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: navy;
    padding-bottom: 10%;
    font-family: fantasy;
    text-size-adjust: 50%;


}

.rightguess     {
    background-color: bisque;
    text-shadow: 2px 2px green;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: black;
    font-family: 'Cuprum', sans-serif;


}

.wrongguess     {
    background-color: bisque;
    text-shadow: 2px 2px black;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: red;
    font-family: 'Cuprum', sans-serif;

}

body    {
    background-image: url("../assets/images/background.jpg");
    background-size: 100%;
}

.reset  {
    float: right;
    height: 100%;

}

<a href ="index.html"> <button class="reset" >reset game</button></div></a>