header  {
     height: 150px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
}

.underscores     {
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 80px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: black;
    padding-bottom: 10%;


}

.rightguess     {
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: green;


}

.wrongguess     {
    height: 80px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    border-color: darkslategrey;
    width: 90%;
    margin: 0px auto;
    color: red;

}